/*
 * Navbar
 */
 img.logo {
    width: 210px;
    height: 45px;
    padding-right: 20px;
 }

 .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  img.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }


aside {
    display: flex;
    padding: 10px;
    background: #fbfbfb;
    max-width: 278px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 64px;
    min-width: 400px;
    box-shadow: 2px 5px 2px 5px rgba(0, 0, 0, 0.075);;
    transition: all ease 1s;
    z-index: 999;
    color: #333;
  
}
h4 {
    font-size: 19px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.user-profile {
    padding: 10px;
  }
  
  .user-label {
    font-weight: bold;
    font-size: 15px;
    width: 50%;
  }
  
  hr {
    margin-top: 3px;
    margin-bottom: 20px;
  }
  
  .user-field-value {
    display: inline-block;
    width: 50%;
  }
  