.login-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 40px 25px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2%;
}

.align-items-left {
  text-align: left;
}
.text-error {
  color: #dc3545;
}
.is-invalid {
  border-color: #dc3545 !important;
}