
<div>
  <app-header
    [logo]="logo"
    [avatar]="avatar"
    [menus]="headerMenus"
    [profile]="profile"
  ></app-header>
      <main role="main" class="container-fluid container-custom">
          <div class="row pad-top">
            <app-left-sidebar [menus]="leftSidebars"></app-left-sidebar>
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                  <router-outlet></router-outlet>
              </main>
          </div>
      </main>
      <app-footer></app-footer>
</div>

